{% extends 'base.html' %}
{% block title %}Job Listings{% endblock %}
{% block content %}
<h1 class="page-title">Job Requisitions</h1>
<!--div class="filter-bar">
  <select class="form-control" style="width:auto;" onchange="location.href='?department='+this.value+'&status={{ request.GET.status }}'">
    <option value="">All Departments</option>
    {% for val, label in departments %}
    <option value="{{ val }}" {% if request.GET.department == val %}selected{% endif %}>{{ label }}</option>
    {% endfor %}
  </select>
  <select class="form-control" style="width:auto;" onchange="location.href='?status='+this.value+'&department={{ request.GET.department }}'">
    <option value="">All Statuses</option>
    {% for val, label in statuses %}
    <option value="{{ val }}" {% if request.GET.status == val %}selected{% endif %}>{{ label }}</option>
    {% endfor %}
  </select>
  <a href="{% url 'jobs:post_job' %}" class="btn-primary" style="text-decoration:none;">+ Post New Job</a>
</div-->
<div class="glass-panel" style="padding:1.5rem;">
  <table class="data-table">
    <thead><tr><th>Ref Code</th><th>Title</th><th>Department</th><th>Status</th><th>Deadline</th><th>Actions</th></tr></thead>
    <tbody>
      {% for job in jobs %}
      <tr>
        <td>{{ job.reference_code }}</td>
        <td>{{ job.title }}</td>
        <td>{{ job.get_department_display }}</td>
        <td>{{ job.get_status_display }}</td>
        <td>{{ job.deadline|date:"M d, Y" }}</td>
        <td>
            {% if job.id in applied_job_ids %}
                <button class="form-control" disabled style="width:auto; background-color: #faba08; color: #fff; cursor: not-allowed; border: none;">
                    Pending
                </button>
            {% else %}
                <a href="{% url 'jobs:apply_for_job' job.id %}" class="form-control" style="width:auto; background-color: #0d6efd; color: #fff; text-decoration: none; text-align: center; display: inline-block; border: none; padding: 6px 12px; border-radius: 4px;">
                    Apply
                </a>
            {% endif %}
                </td>
      </tr>
      {% empty %}<tr><td colspan="6">No jobs found.</td></tr>{% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
